/* Nesting o Anidamiento footer de archivos secundarios */

.fizq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    size: 15px;
}

.fizq-items {
    display: flex;
    
}
.foP {
    background-color: beige;
    
display: flex;
justify-content: center;
padding: 20px;
margin-top: 5px;
}